/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(0, 0, 0);
    color: #ffffff;
    font-size: 14px;
    padding-top:20px;
}
.display-flex{  
    display: flex;
    justify-content: space-between;
}
.display-grid{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}
.margin{
    margin: 0 100px;
}
.primary-btn{
    border: 0;
    background-color: #E6533C;
    border-radius: 42px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 46.5px;
    width: 224px;
    text-align: center;
}
.primary-btn:hover{
    background-color: #ffffff;
    color: #E6533C;
    transition: 0.5s;
}
.primary-text{
    color: #f9f9f97e;
}
.text-align{
    text-align: center;
}
.tittle{
    font-size: 48px;
    font-weight: 900;
    margin: 14px 0;
}

/* navbar style */
.fitness{
    color:rgba(230, 83, 60, 1) ;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}
nav ul{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 1px 0px;
    display: inline-block;
    width: max-content;
}
nav ul li{
    list-style: none;
    padding: 8px 22.5px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
#home-btn{
    background-color:#E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    border: 0;
    margin-left:-20%;
}
/* nav hover effect */
nav ul li a:hover{
    text-decoration: underline;
}
#home-btn:hover{
    background-color: #ffffff;
    color: #E6533C;
    text-decoration: none;
    transition: 0.5s;
}
/* header related style */
#linear-gra{
    background-image: linear-gradient(180deg, rgba(1, 0, 0, 0), rgba(75, 72, 72, 0.409), rgba(0, 0, 0, 0));
}
header div, header p{
    padding: 28px 0;
}
#header-tittle h1{
    font-size: 78px;
    font-weight: 900;
}
#header-tittle span{
    font-family: miama;
    font-weight: 400;
    font-size: 160px;
    line-height: 0px;
}
#download-btn{
    border: 1px solid #ffffff ;
    background-color: #000000;
    border-radius: 42px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 46.5px;
    width: 224px;
    text-align: center;
}
#download-btn:hover{
    background-color: #ffffff;
    color: #000;
    transition: 0.5s;
}
#header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#header-image img{
    max-width: 100%;
}
#header-image{
    position: relative;
}
#card-1{
    display: inline-block;
    /* border: 1px solid; */
    padding:16px 23px;
    border-radius: 12px;
    background-color: #a3999929;
    backdrop-filter: blur(5px);
    position: absolute;
    right: -20%;
    top: 10%;
}
#card-2{
    display: inline-block;
    /* border: 1px solid; */
    padding:16px 23px;
    border-radius: 12px;
    background-color: #a3999929;
    backdrop-filter: blur(5px);
    position: relative;
    left: -20%;
    bottom: 25%;
}
#card-1 h2, #card-2 h2{
    font-size:30px;
    font-weight: 900;
}
#card-1 p, #card-2 p{
    font-size:13px;
    font-weight: 400;
    padding: 0;
}
/* habit section style */
#habit-images img{
    border-radius: 50%;
    border: 5px solid #ffffff0e;
    margin-top: 1rem;
}
#habit-images h4{
    font-size:18px;
    font-weight: 600;
    margin: 6px 0;
}
/*  Run an Extra Mile Easily section*/
.run-section{
    background-color:rgba(34, 34, 34, 1) ;
    border-radius: 18px;
    padding: 10px;
    margin-top:1rem;
}
#run-tittle a{
    display:block;
    width:50%;
    padding: 16px 50px;
    margin: 16px auto;
}
#run-image img{
    max-width: 100%;
    border-radius: 18px;
    object-fit: cover;
}
#run-image{
    padding: 16px;
    width: 60%;
}
/* trainings section style */
#trainings-container{
 grid-template-columns: repeat(3,1fr);
 margin: 14px auto;
 margin-right:-4%;
}
#trainings-container img{
    max-width: 100%;
    height: 100%;
}
.train-images{
    position: relative;
}
#trainings-container p{
    color: #ffffffa5;
    position: absolute;
    font-size: 14px;
}
#trainings-container p:hover{
    color: #ffffff;
    position: none;
    font-size: 15px;
    transition: 0.5s;
}
#trainings-images-1 p,#trainings-images-5 p , #trainings-images-3 p{
    left:10%;
    bottom:15%;
}
#trainings-images-2 p , #trainings-images-6 p{
    left:10%;
    top:15%;
}
#trainings-images-4 p{
    right:15%;
    top:15%;
}
.blank{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.blank-1{
    background-color: rgba(4, 133, 90, 0.402);
}
.blank-2{
    background-color: rgba(173, 2, 2, 0.482);
}
.blank-3,
.blank-4{
    background-color: rgba(10, 10, 10, 0.584);
}
.blank-5{
    background-color: rgba(0, 205, 3, 0.256);
}
.blank-6{
    background-color: rgba(132, 113, 239, 0.402);
}
.blank:hover{
    background-color: transparent;
    transition: 0.5s;
}
#trainings-images-1, #trainings-images-3, #trainings-images-5{
    width:90%;
}
#trainings-images-2, #trainings-images-4, #trainings-images-6{
    width:110%;
    margin: 0;
    padding: 0;
}
#trainings-images-2,#trainings-images-6{
    margin-left:-10%;
}
#trainings-images-6{
    max-width: 100%;
}
/* bmi section */
#bmi-input-section{
    padding: 20px ;
}
.input-header{
    font-size: 28px;
    font-weight: 900;
    margin: 20px 0;
    margin-bottom: 40px;
}
table{
    width: 85%;
    text-align: left;
}
table, th, td{
    border-collapse: collapse;
    border:1px solid #ffffffa5;
}
table th{
    font-size: 16px;
    color: #ffffff;
    padding: 5px 10px;
}
table td{
    font-size: 14px;
    color: #7c7c7cf8;
    padding: 5px 10px;
}
#bmi-tittle{
    padding-left: 10%;
    padding-right:20px ;
    margin: 35px 0;
}
#bmi-input-section{
    background-color:rgba(34, 34, 34, 1) ;
    justify-content: space-around;
}
#form-section p{
 margin-top: -25px;
 margin-bottom: 15px;
 width: 85%;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 85%;
    gap: 5px;
}
form div:nth-last-child(1){
    grid-column: 1/3;
}
form div select{
    width: 100%;
    color:rgba(255, 255, 255, 0.285);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    padding:6px 20px ;
    border-radius:8px ;
}
form div select option{
    background-color: #464242;
    border: 0;
}
 form input{
    color:rgba(145, 140, 140, 0.95);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    padding:6px 20px ;
    border-radius:8px ;
}
#form-section a{
    display: block;
    width:40%;
    margin: 14px 0;
}
/* meet our team section */
#meet-section{
    margin-top: 16px ;
    padding: 10px;
    background-color: #191818e2;
    border-radius: 18px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.team-images{
    position: relative;
}
.team-images img{
    max-width: 100%;
    height: 200px;
    width: 100%;
    border-radius: 18px;
}
.team-images div{
    position: absolute;
    bottom: 10%;
    left: 3%;
    padding: 10px;
    padding-left: 0px;
}
.team-images div:hover{
    background-color: #00806497;
    border-left: 5px solid ;
    transition: 0.5s;
    padding-left:5px;
    border-radius: 0 8px 8px 0;
}
/* media query small device*/
@media screen and (max-width:576px) {
    /* shared style */
    .media-mar{
        margin: 25px 20px;
    }
    .tittle{
        font-size: 32px;
    }
    .menu-bar, #trainings-images-3,#trainings-images-6 , .media-none{
        display: none;
    }
    #header-tittle h1{
        font-size: 36px;
    }
    #header-tittle span{
        font-size: 80px;
    }
    .display-flex{
        flex-direction: column;
    }
    #flex{
        flex-direction: row;
    }
    #header-btn{
        gap: 3px;
        margin: 0;
        padding: 0;
    }
    .primary-btn, #download-btn{
        padding: 16px 10px;
    }
    #card-1{
        right: 0%;
        top: 25%;
    }
    #card-2{
        left: 0%;
        bottom: 180px;
    }
    /* habit section */
    #habit-images{
        grid-template-columns: repeat(1, 1fr);
    }
    #run-image{
        width: 90%;
    }
    #trainings-container{
        grid-template-columns: repeat(2,1fr);
        margin-right:1px;
    }
    #trainings-images-5{
        width: 100%;
    }
    #meet-section{
        grid-template-columns: repeat(1,1fr);
    }
    .team-images img{
    width: 100%;
    height: auto;
    }
}
/* media query medium device */
@media screen and (min-width:577px) and (max-width:992px){
    /* shared style */
    .media-mar{
    margin:30px 20px
    }
        /* nav style */
    nav ul li{
        list-style: none;
        padding: 8px 10px;
    }
    #home-btn{
        margin-left: -8%;
    }
   #nav-icon{
    display: none;
   }
   #header-btn{
    display: inline;
}
   header div, header p{
    padding: 22px 0;
}
   #card-1{
    right: -8%;
    top:25%;
}
#card-2{
    left: -8%;
    bottom: 25%;
}
   /* habit section */
   #habit-images{
    grid-template-columns: repeat(2, 1fr);
}
#run-image{
    width: 90%;
}
#trainings-container{
    margin-right:-2%;
}
#bmi-input-section{
    flex-direction: column;
}
}
/* media query laptop/pc */
@media screen and (min-width:993px) and (max-width:1440px){
    #nav-icon{
        display: none;
       }
}
/* longer device */
@media screen and (min-width:1441px) {
    #header-tittle h1{
        font-size: 120px;
    }
    #header-tittle span{
        font-size:250px;
    }
    #nav-icon{
        display: none;
       }
       header div, header p{
        padding: 35px 0;
    }
       #card-1{
        top:20%;
        right:-15%;
    }
    #card-2{
        left: -25%;
        bottom: 25%;
    }
}